/*body
{
font-size: 0;
margin: 0;
scroll: hidden;
overflow-y: hidden;
overflow-x: hidden;
}*/

/*#container
{
z-index: 1;

font-size: 0;

scroll: hidden;
overflow-y: hidden;
overflow-x: hidden;

background-color: black;

position: relative;
display: inline-block;
}*/

/*#left
{
z-index: 1;

-webkit-font-smoothing: antialiased;
font-size: medium;

background-color: darkgray;
color: white;
font-family: Tahoma, Geneva, sans-serif;

overflow:scroll;
overflow-x:hidden;

position:relative;
display:inline-block;
}*/

#center
{
z-index: 1;

font-size: medium;
background-color: gray;

position: relative;
display: inline-block;
}

#right
{
z-index: 1;

font-size: medium;
position: relative;

background-color: darkgray;

position: relative;
display: inline-block;
}
