body {
	font-size: 0;
	margin: 0;
	scroll: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
}

table {
	height: 75px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	background-color: white;
	border-collapse:collapse;
}

tbody {
	background-color: #A8A8A8; /*~gray*/
}

tbody:hover {
	background-color: #C8C8C8; /*~lightgray*/;
}
select {
	width:100%;
	font-size: 16px;
}

#container {
	width: 100%;
	height: 100%;
	font-size: 0;
	scroll: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
}

#settings-menu {
z-index: 2;

font-size: 12px;
background-color:white;
color: black;
font-family: Tahoma, Geneva, sans-serif;

position: absolute;
display: none;
}

#header{
	font-size: medium;
	background-color: #C8C8C8; /*~lightgray*/;
	position: relative;
	display: inline-block;
}
#left{
	background-color: lightgray;
	overflow: scroll;
	overflow-x: hidden;
	position: relative;
	display: inline-block;
	font-family: Tahoma, Geneva, sans-serif;
}
#center {
	background-color: gray;
	position: relative;
	display: inline-block;
}
#right {
	background-color: #A8A8A8; /*~gray*/
	position: relative;
	display: inline-block;
}

.header-margin {
	margin-top: 9px;
}

.button45 {
	width: 45px;
	font-size: 16px;
}

.button60 {
	width: 60px;
	font-size: 16px;
}

.button130 {
	width: 130px;
	font-size: 16px;
}

.button-auto {
	width: auto;
	font-size: 16px;
}

.select {
	width: 130px;
}

.icon-logo {
	width: 75px;
	height: 75px;
}

.header-item{
	margin-left: 20px;
}

.description {
	font-size: 14px;
	color: white;
	width: 400px; /* Magic width that works perfectly so far */
}

.viewer-count {
	font-size: 14px;
	color: red;
	text-align: right;
}

.stream-name {
	font-size: 18px;
	font-weight: bold;
	color: #000066; /*~ darkgreen */
}

.stream-service-icon{
	width: 25px;
	height: 25px;
	text-align: right;
}

.styled-select select {
	background: transparent;
	background-color: white;
	border: none;
	margin-top: 5px;
	outline: 0;
}

.semi-square {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.white {
	background-color: white;
}
